@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Open+Sans&family=Yeseva+One&display=swap');

/* Общие настройки стилей */

body {
    margin: 0;
    font-family: 'Nunito Sans', Arial;
    font-style: normal;
    font-weight: 400;
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.button-first-style {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
}

.button-second-style {
    margin-left: 20px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    background: none;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
}

.button-menu {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
}

/* Хидер */

.header {
    background-color: #131313;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.logo {
    color: #E3B873;
    text-transform: uppercase;
}

.header-navigaion {
    list-style: none;
    display: flex;
}

.header-navigaion__item {
    margin-right: 40px;
}

.header-navigaion__item a {
    text-decoration: none;
    color: white;
}

.header-navigaion__item a:hover {
    color: #E3B873;
}

.phone-number {
    font-size: 12px;
    padding-top: 3px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}

/* 1 страница, главная */

.hero {
    background-image: url("../images/image_1.jpg");
    background-size: auto;
    height: 707px;
    padding: 194px;
    position: relative;
}

.hero-overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.hero-container {
    display: block;
    width: 550px;
    height: 305px;
    position: relative;
    left: -310px;
    z-index: 1;
}

.title {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.allocate-text {
    color: #E3B873;
}

.description {
    margin: 19px 0px 42px;
    width: 400px;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}

.two-button-field {
    display: flex;
}

/* 2 страницы, готовые проекты */

.comleted-projects {
    display: flex;
    background-color: #131313;
    padding-bottom: 415px;
}

.full-projects {
    display: flex;
}

.first-part-project {
    width: 442px;
    margin-right: 50px;
}

.title-projects {
    display: flex;
    justify-content: center;
}

.title-projects-description {
    margin-top: 56px;
    width: 200px;
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.projects-description {
    margin: 34px 0px;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

/* создаем и прячем кнопку до низкого разрешения */

.image-low-display {
    display: none;
    justify-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
    width: 340px;
    height: 242px;
    background-image: url("../images/example_room.jpg");
    background-size: cover;
    position: relative;
}

.image-arrow {
    display: flex;
    margin: 10px;
    align-self: center;
    width: 36px;
    height: 36px;
}


.propertis-table {
    border: none;
}

.subtitle {
    width: 200px;
    margin: 9px 0px;
    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.value {
    padding: 9px 0 34px;
    width: 100px;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.image-slider {
    display: inline-flex;
    width: 205px;
    justify-content: space-between;
}

.image-project {
    background-image: url("../images/example_room.jpg");
    position: relative;
    width: 679px;
    height: 481px;
    overflow: hidden;
}

.projects-navigaion {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.project-navigaion__item {
    margin-right: 59px;
}

.project-navigaion__item a {
    text-decoration: none;
    font-family: 'Yeseva One';
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.project-navigaion__item a:hover {
    color: #E3B873;
    padding-bottom: 7px;
    border-bottom: 1px solid #E3B873;
}

/* 3 страницы, онлайн - контроль */

.online-control {
    display: flex;
    margin-top: -325px;
    align-items: center;
    padding-bottom: 58px;
}

.title-online-control {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.icons-camera-align {
    display: flex;
    margin: 13px 0 31px;
    justify-content: center;
}

.icon-camera {
    display: inline-flex;
    width: 115px;
    justify-content: space-between;
}

.frame-video {
    display: flex;
    justify-content: center;
    background-image: url("../images/content_video.jpg");
    background-size: auto;
    position: relative;
    height: 434px;
    width: 817px;
}

.button-play-video {
    display: flex;
    width: 85px;
    height: 85px;
    align-self: center;
}

.long-line {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 62px 0 34px;
}

.camera-text {
    margin: auto;
    width: 681px;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}

.input-form {
    display: flex;
    flex-direction: row;
    margin-top: 91px;
    justify-content: center;
    position: relative;
}

.subtitle-form {
    text-transform: capitalize;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.input-style {
    border: 0;
    margin-right: 49px;
    width: 231px;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    outline: none;
    background: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.checkbox-style {
    border-color: #E3B873;
}

.block-agree-normal {
    display: flex;
    justify-content: center;
    margin: 33px 0 90px;
    position: relative;
}

.text-agree {
    margin-left: 7px;
    font-style: normal;
    font-size: 14px;
    line-height: 163.68%;
    color: #181818;
}

.button-control-low {
    display: none;
}

/* 4 страница, тип ремонта */

.repair-frame {
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

.title-repair {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.repair-cards {
    display: flex;
    flex-direction: row;
}

.repair-card-exapmle {
    margin: 0 15px 0 0;
}

.repair-image-propertis {
    position: relative;
    width: 353px;
    height: 379px;
    z-index: -1;
}

.repair-text-card {
    display: block;
    margin-left: 12px;
    margin-top: -125px;
    width: 330px;
    height: 286px;
    justify-items: center;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.repair-subtitle-card {
    margin: 0 0 0 27px;
    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}

.repair-list-style {
    margin: 0;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.repair-price {
    margin-top: 37px;
    padding: 18px 0 18px;
    width: 228px;
    text-align: center;
    background-color: #E3B873;
    font-family: 'Yeseva One';

    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* 5 страница, услуги */

.service-row {
    display: flex;
    flex-direction: row;
}

.service-background-image {
    background-image: url("../images/service_background_image.jpg");
    background-size: cover;
    justify-self: left;
    width: 696px;
    height: 548px;
    position: relative;
}

.service-list {
    display: flex;
    margin: 0 170px 0 150px;
    width: auto;
    height: 509px;
    flex-direction: column;
    justify-content: space-between;
}

.service-list-style {
    display: flex;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}

.service-lost-style-align {
    display: flex;
    align-self: center;
}

.service-form {
    display: flex;
    flex-direction: column;
    background-color: #131313;
    padding: 27px 49px;
    width: 506px;
    height: 509px;
}

.service-subtitle {
    width: 250px;
    height: 76px;
    margin: auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.service-form-field {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    height: 244px;
    justify-content: space-between;
}

.service-input-style {
    border: 0;
    margin-right: 49px;
    width: 408px;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background: none;
}

.service-subtitle-form {
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    text-transform: capitalize;
}

.service-input-style::placeholder {
    color: #FFFFFF;
}

.service-agree {
    margin: 18px 7px;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
}

.service-button {
    align-self: flex-end;
    margin-top: 15px;
}

.service-moneybox-style {
    display: flex;
    margin: 20px 0;
    flex-direction: row;
    align-items: center;
}

.servise-moneybox-image {
    display: flex;
    background-image: url('../images/moneybox.svg');
    position: relative;
    background-size: cover;
    width: 72px;
    height: 72px;
}

.service-moneybox-text {
    display: flex;
    width: 230px;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

/* Подвал */

.footer {
    background-color: #181818;
}

.footer-content {
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

/* Стили чекбоксов */

.label {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.checkbox {
    display: none;
}

.fake {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}

.fake::before {
    content: "\2714";
    opacity: 0;
    transition: .2s;
}

.checkbox:checked+.fake::before {
    opacity: 1;
}

/* Адаптив */
@media screen and (max-width: 1600px) {

    .container {
        max-width: 1150px;
    }

    .header-navigaion {
        padding-inline-start: 0px;
        ;
    }

    .header-navigaion__item {
        margin-right: 15px;
    }
}

@media screen and (max-width: 1350px) {

    .container {
        max-width: 1050px;
    }

}

@media screen and (max-width: 1250px) {

    .container {
        max-width: 1000px;
    }

    .header-navigaion__item {
        display: none;
    }

    .header-content {
        justify-content: space-around;
    }

    .hero-container {
        width: 339px;
        left: -170px;
    }

    .title {
        font-size: 23px;
        line-height: 132.83%;
    }

    .title-projects-description {
        font-size: 22px;
        line-height: 138.6%;
        text-align: center;
    }

    .two-button-field {
        flex-direction: column;
    }

    .projects-description {
        font-size: 11px;
        line-height: 158.48%;
        text-align: center;
    }

    .image-low-display {
        display: flex;
    }

    .first-part-project {
        width: 339px;
        margin: 0;
    }

    .image-slider {
        display: none;
    }

    .second-part-projects {
        display: none;
    }

    .online-control {
        margin-top: -400px;
        background-color: #131313;
        padding: 0;
    }

    .online-control-propertis {
        justify-items: center;
    }

    .frame-video {
        height: 207px;
        width: 340px;
    }

    .button-play-video {
        width: 37px;
        height: 37px;
    }

    .camera-text {
        font-size: 11px;
        line-height: 169.8%;
        width: 339px;
        color: #FFFFFF;
    }

    .input-form {
        flex-direction: column;
    }

    .input-style {
        width: 340px;
        border-bottom: 1px solid rgba(54, 54, 54, 0.5);
    }

    .button-first-style {
        width: 100%;
        margin: auto;
        padding: 13px 33px;
    }

    .button-second-style {
        width: 100%;
        margin: 26px 0;
        padding: 13px 33px;
    }

    .button-control-noraml {
        display: none;
    }

    .button-control-low {
        margin-top: 40px;
        margin-bottom: -21px;
        display: block;
    }

    .subtitle-form {
        color: rgba(255, 255, 255, 0.5);
    }

    .input-style::placeholder {
        color: #FFFFFF;
    }

    .block-agree-normal {
        justify-content: left;
        margin: 26px 0 62px 0;
    }

    .text-agree {
        color: #FFFFFF;
    }

    .repair-frame {
        padding-top: 58px;
    }

    .repair-cards {
        flex-direction: column;
    }

    .repair-card-exapmle {
        margin: 30px 0;
    }


    .repair-text-card {
        margin-left: 0;
    }

    .service-frame {
        display: none;
    }

}

@media screen and (max-width: 600px){

    .container {
        max-width: 339px;
    }

    .button-menu {
        display: none;
    }

    .header-navigaion {
        margin: 0;
        padding: 0;
    }

    .phone-number {
        padding: 0;
        color: #ffffff;
        text-decoration: none;
    }

    .description {
        width: 330px;
        font-size: 14px;
        line-height: 135.84%;
    }

    .footer {
        display: none;
    }
}